# Root
.env
.env.*.local
.DS_Store
*.log
logs/

# Frontend
/frontend/node_modules/
frontend/build/
frontend/.env.local

# Backend (Express API)
server/node_modules/
server/dist/
server/.env

# Azure + GitHub artifacts
*.publishsettings
*.PublishProfiles/
release.zip

# IDE/editor stuff
.vscode/
*.swp

